<article>
<h2>High Scores</h2>
</article>

<main>
  <section>
  <h3>Users With Most Wins:</h3>
  <ol>
  <% @users.each do |user| %>
  <li><strong><%= user[0].name %></strong> Number of wins: <strong><%= user[1] %></strong></li>
  <% end %>
</ol>
</section>

  <section>
  <h3>Users With Fastest Wins:</h3>
  <ol>
  <% @fastest.each do |game| %>
  <li><strong><%= game[0].user.name %></strong> Fastest Win: <strong><%= game[1] %> seconds</strong></li>
  <% end %>
</ol>
</section>
</main>
