<section class="cell1">
  <%= @cells[0].alt %>
</section>

<section class="cell2">

</section>

<section class="cell3">

</section>

<section class="cell4">

</section>

<section class="cell5">

</section>

<section class="cell6">

</section>

<section class="cell7">

</section>

<section class="cell8">

</section>

<section class="cell9">

</section>

<section class="cell10">

</section>

<section class="cell11">

</section>

<section class="cell12">

</section>

<section class="cell13">

</section>

<section class="cell14">

</section>

<section class="cell15">

</section>

<section class="cell16">

</section>
